<footer style="margin-top: 2rem;">
    <div class="text-white py-10" style="
    background: #2d373c;
">
        <div class="container">
            <div class="row g-1 justify-content-center">
                <div class="col-lg-4 col-md-12 text-md-center text-lg-start">
                    <div class="d-flex justify-content-md-center justify-content-lg-start">
                        <h2 class="text-white font-montserrat mb-4">LHT Bookstore</h2>
                    </div>

                    <div class="w-100 text-left">
                        <p class="font-montserrat  mb-2">LHT Bookstore nhận đặt hàng trực tuyến và giao hàng tận nơi.
                            KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp tại văn phòng cũng như tất cả Hệ Thống LHT trên
                            toàn quốc.</p>
                    </div>

                    <div class="mt-2">
                        <h6 class="text-green font-montserrat">Giờ làm việc : Thứ 2 - Chủ nhật (9h - 21h)</h6>

                        <div>&nbsp;</div>
                    </div>


                </div>

                <div class="col-lg-2 col-md-4">
                    <div>
                        <h3 class="text-white font-montserrat  mb-4">Dịch vụ</h3>

                        <div>
                            <ul class="list-unstyled font-montserrat">
                                <li class="position-relative my-2"><a class="text-white text-decoration-none mt-4"
                                                                      href="#">Điều khoản sử dụng</a>
                                </li>
                                <li class="position-relative my-2"><a class="text-white text-decoration-none mt-4"
                                                                      href="#">Chính sách bảo mật</a>

                                </li>
                                <li class="position-relative my-2"><a class="text-white text-decoration-none mt-4"
                                                                      href="#">Chính sách thanh toán</a>
                                </li>
                                <li class="position-relative my-2"><a class="text-white text-decoration-none mt-4"
                                                                      href="#">Về chúng tôi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4">
                    <div>
                        <h3 class="text-white font-montserrat mb-4">Mạng xã hội</h3>

                        <div>
                            <ul class="list-unstyled  font-montserrat">
                                <li class="position-relative mb-2"><a
                                        class="text-white text-decoration-none overlay-10"
                                        href="/page/asia">Facebook</a>

                                    <div class="position-absolute top-0 start-0 h-100 w-50">&nbsp;</div>
                                </li>
                                <li class="position-relative mb-2"><a class="text-white text-decoration-none"
                                                                      href="/page/europe">Instagram</a>
                                    <div class="position-absolute top-0 start-0 h-100 w-50">&nbsp;</div>
                                </li>
                                <li class="position-relative mb-2"><a class="text-white text-decoration-none"
                                                                      href="/page/americas">Tiktok</a>
                                    <div class="position-absolute top-0 start-0 h-100 w-50">&nbsp;</div>
                                </li>
                                <li class="position-relative mb-2"><a class="text-white text-decoration-none"
                                                                      href="/page/africa">Youtube</a>
                                    <div class="position-absolute top-0 start-0 h-100 w-50">&nbsp;</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div>
                        <h3 class="text-white font-montserrat mb-4">Đăng ký nhận tin mới</h3>
                        <div class="row">
                            <div class="col-12 col-md-7"><input class="form-control" name="phone"
                                                                placeholder="Địa chỉ email" required="" type="text">
                            </div>

                            <div class="col-12 col-md-5 "><a class="btn btn-submit-sform w-full" title="đăng ký">Đăng
                                ký </a></div>
                        </div>
                        <div class="d-flex align-items-center  mb-2">

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="
    background: #162b32;
">
        <div class="py-2 text-green text-center">Powered By LHT</a></span>
        </div>
    </div>
</footer>
<style type="text/css">.bg-green.position-absolute.rounded-pill.bottom-0.left-0.mx-3.my-2.d-flex:hover{
            background-color: #a7a7a7;
        }

        .text-green{
            color: #54a15d;
        }
        .bg-green{
            background-color: #54a15d;
        }
        .text-green-line{
            color: transparent;
            text-shadow: 0 0 1px #54a15d;
        }
        .icon-container{
            width: 37px;
            height: 37px;
        }

        .img-flu{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .font-satisfy{
            font-family: "satisfy";
        }

.font-montserrat{
font-family: "montserrat";
}


        .eci-icon-side ul{
            transform: translateX(200%);
            transition: 0.3s linear;
        }
        .eci-icon-side.active ul{
            transform: translateX(0);
            transition: 0.3s linear;
        }

        .bg-transparent{
            background-color: none;
            border: 1px solid #54a15d;
        }

        .eci-footer-dot {
            transition: 0.3s linear;
            animation: dot-apperence 0.4s ease-in;
        }
        @keyframes dot-apperence {
            0%{
                opacity: 0;
                transform: translateX(-50%);
                transition: 0.3s linear;
            }
            100%{
                opacity: 1;
                transform: translateX(0);
                transition: 0.3s linear;
            }
        }
body{
font-family: "montserrat";
}
</style>
<script>

    $(window).scroll(function() {
      if ($(this).scrollTop() > 150) {
        $('.hide').hide();
      } else {
        $('.hide').show();
      }
    });
        document.addEventListener('DOMContentLoaded', function(){
            const guiderDiv = document.querySelectorAll('.guider-contact');
            const guiderUl = document.querySelectorAll('.eci-icon-side');

            for(let i =0; i< guiderDiv.length;i++){
                guiderDiv[i].addEventListener('mouseover', function(){
                    guiderUl[i].classList.add('active');
                    if(guiderUl[i].classList.contains('active')){
                        document.querySelectorAll('.eci-icon-side.active li').forEach(icon => {
                            icon.addEventListener('mouseover', function(){
                                icon.classList.add('bg-green');
                                icon.classList.remove('bg-white');
                                icon.children[0].classList.add('text-white');
                                icon.children[0].classList.remove('text-black');
                            });
                            icon.addEventListener('mouseout', function(){
                                icon.classList.add('bg-white');
                                icon.classList.remove('bg-green');
                                icon.children[0].classList.add('text-black');
                                icon.children[0].classList.remove('text-white');
                            });
                        });
                    }
                });

                guiderDiv[i].addEventListener('mouseout', function(){
                    guiderUl[i].classList.remove('active');
                });
            }

            document.querySelectorAll('footer div .container .row .col-lg-2 div div .list-unstyled li').forEach(a => {
                const content = a.children[0].innerHTML;
                a.children[1].addEventListener('mouseover', function(){
                    a.children[0].innerHTML = '<span class="text-green eci-footer-dot">&#8226; <span>'+a.innerHTML;
                });
                a.children[1].addEventListener('mouseout', function(){
                    a.children[0].innerHTML = content;
                });
    a.children[1].addEventListener('click', function(){
                    a.children[0].click();
                });
            });

            document.querySelectorAll('.icon-container.bg-green').forEach(icon => {
                icon.addEventListener('mouseover', function(){
                    icon.classList.add('bg-transparent');
                    icon.classList.remove('bg-green');
                    icon.children[0].children[0].classList.add('text-green');
                    icon.children[0].children[0].classList.remove('text-white')
                });
                icon.addEventListener('mouseout', function(){
                    icon.classList.add('bg-green');
                    icon.classList.remove('bg-transparent');
                    icon.children[0].children[0].classList.add('text-white')
                    icon.children[0].children[0].classList.remove('text-green');
                });
            });

            document.querySelectorAll('.contact a span, .contact p').forEach(element => {
                    element.addEventListener('mouseover', function(){
                        element.classList.add('text-green');
                        element.classList.remove('text-white');
                    });
                    element.addEventListener('mouseout', function(){
                        element.classList.add('text-white');
                        element.classList.remove('text-green');
                    });;
            });
        });
</script>
<script>
    (function(){
        let link = document.createElement('link');
        link.rel='stylesheet';
        link.href='//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Satisfy&display=swap';

        document.head.appendChild(link);
    })();
</script>
<style type="text/css">.button-custom{
    background: #54A15D;
    padding: 12px 35px;
    position: relative;
    font-weight: 600;

}
.button-custom h4{
color:white;
}
.button-custom:hover{
transition:all 0.3s;
color: #54A15D !important;
background: transparent;
border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #54A15D;
}
.button-custom-2{
    background: transparent;
border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #54A15D;
color: #54A15D;
font-weight: 600;
}

.div-card:hover .button-custom-2{
transition:all 0.3s;
color: white;
background: #54A15D;
}
.card{
box-shadow:0px 9px 9px -1px rgba(10,22,70,.1), 0px 0px 1px 0px rgba(10,22,70,.06) !important;
}
.text-hover:hover{
color:#54A15D;
}
.hover-zoom img {
    transform: scale(1);
    transition: .3s ease-in-out;
}
.div-card:hover .hover-zoom img {
    transform: scale(1.2);
}
.hover-zoom{
overflow: hidden;
}
.date {
    position: absolute;
    left: 8%;
    top: 4%;
}
.dot-indicators li[data-bs-target="#section-menu-left-banner-slider"]{
            width: 14px;
            height: 14px;
            border-radius: 100%;
            background-color: #54a15d;
    }
.bg-cover-b {
background: black;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
}
.text-cover{
    position: absolute;
    z-index: 100;
    bottom: 10%;
    left: 25px;
right:25px;
transition: all .3s ease;
}

.div-sec3:hover .text-cover{
bottom: 20% !important;
-webkit-transition: all .3s ease;
transition: all 0.6s ease-in-out
}
.div-sec3:hover img {
transform: scale(1.2);
transition: all 0.6s ease-in-out
}
.text-place{
position:absolute;
    z-index: 100;
    bottom: 10%;
    margin-left: 5%;
opacity:0;
}
.div-sec3:hover .text-place{
opacity:1;
transition: all 0.8s ease-in-out
}
.h-320
{
height:320px
}
.div-sec4{
    position: absolute;
    left: 25px;
    top: 15%;
    z-index: 20;
    color: #fff;
    text-align: center;
    right: 25px;
}
.div-img-sec4{
    background-image: url('/files/blog/192_1658/background.jpg');
    position: relative;
    padding-bottom: 30rem;
    background-size: cover;
}
.div-img-cover-sec4{
    position: absolute;
    z-index: 1;
    padding-bottom: 30rem;
    background: #2c2c2b;
    width: 100%;
    opacity: 0.43;
}
.text-gray {
    color: #5e5e5e;
}
.div-content-sec5{
    position: absolute;
    z-index: 2;
    bottom: 5%;
    left: 10%;
}
.div-img-cover-sec5{
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(179.97deg, rgba(32, 32, 32, 0) 20.42%, #202020 99.97%);
}
.div-price-sec5{
    position: absolute;
    left: 8%;
    top: 4%;
}
.mh-450{
min-height: 450px;
}
.div-img-sec5{
    object-fit: cover;
    position: absolute;
    height: 100%;
}
.div-img-sec6{
    background: url('/files/sites/site_206/site_206_first-home-page/Testimonial-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.div-img-cover-sec6{
    background-image: linear-gradient(rgba(0, 5, 15, 0.6), rgba(0, 5, 15, 0.6));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg-review:hover{
background: white;
transition: all .2s ease-in-out;
}
.bg-review{
background: #00152b;
transition: all .2s ease-in-out;
}
.icon-quote,.text-review {
color:white;
}
.bg-review:hover .icon-quote, .bg-review:hover .text-review {
color: #00152b;
}
.card-sec4:hover{
transform: translateY(-8px);
transition: all .2s ease-in-out;
}
.card-sec4{
transition: all .2s ease-in-out;
}
.div-blog{
overflow: hidden;
}
.div-blog:hover img{
transform:scale(1.2) rotate(2deg);
transition: all 0.6s ease;
}
.div-blog img{
transition: all 0.6s ease;
}
.icon-sec7{
    color: #54A15D;
    font-size: 20px;
}
.button-email {
position: absolute;
    left: 25%;
    right: 25%;
}
.btn-submit-sform {
    background-color: #54A15D;
    border: 1px solid #54A15D;
    color: white;
font-weight:600;
}
.btn-warning:focus {
    color: #fff;
    background-color: #54A15D;
    border-color: #54A15D;
    box-shadow: 0 1px 1px rgba(0,0,0,.075),0 0 0 3px rgb(139 200 105 / 50%);
}
.btn-warning:hover, .btn-warning:active{
    color: #fff;
    background-color: #54A15D;
    border-color: #54A15D;
}
.text-stroke{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #51A15D;
}
.img-cover-sec1{
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(22, 43, 50, 0.65);
position:absolute;
}
.content-sec1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    right: 20px;
    z-index: 20;
    color: #fff;
    text-align: center;
}
.main-content .enet-gallery {
background: url(/files/sites/site_206/site_206_first-home-page/banner-gallery.jpg) !important;
    text-transform: uppercase;
    text-align: center;
    background-repeat: no-repeat !important;
    background-size: cover!important;
    background-position: bottom!important;
    padding: 11%;
}
.dropdown-toggle::after{
content: "+" !important;
border-top:unset !important;
vertical-align: unset !important;
font-size:1.2rem !important;
}
.navbar-nav .nav-item:hover .dropdown-toggle::after {
transform: rotate(-180deg);
transition: all 0.5s ease-in-out;
color:#54A15D;
}
.navbar-main .navbar-nav .nav-item .nav-link:hover ,.header-primary .navbar-main .navbar-nav .nav-link.show ,.navbar-nav .nav-item .dropdown-menu .px-6 a:hover span{
color:#54A15D !important;
}
.dropdown-menu,dropdown-menu-lg{
min-width:unset !important;
}
.dropdown-menu .px-6 a{width: max-content;}
.px-6 .d-flex .ps-4 {
padding-right: 1rem !important;
}
.social {
color: #fff;
    font-size: 18px;
    background: #54A15D;
    width: 25px;
    height: 25px;
    border-radius: 90%;
    text-align: center;
}
.social:hover {
color:#54A15D;
background: #fff;
    transition: all 0.3s;
}
.social-2 {
color: #54A15D;
    font-size: 18px;
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 90%;
    text-align: center;
}
.social-2:hover {
color:#fff;
background: #54A15D;
    transition: all 0.3s;
}
.mh-600 {
min-height:600px;
}
.mg-widget:nth-child(1){
display:none;
}

.mg-widget:nth-child(2), .mg-widget:nth-child(3){
background-color: #2d373c;
}
.carousel-item img {
object-fit:cover;
}
.subtitle {
    color: #54a15d;
height:4px !important;
}
@media only screen and (max-width: 767.98px) {
.btn-submit-sform {
margin-top:10px;
}
}
@media only screen and (max-width: 768px) {
.navbar-nav div:nth-child(2) .nav .nav-item:nth-child(1) .nav-link, .navbar-nav div:nth-child(2) .nav .nav-item:nth-child(2) .nav-link{
display:none;
}
}
@media (min-width: 991.98px) and (max-width: 1399.98px) {
.col-rp{
width:100% !important;
}
}
.aboutSection4{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}
.featured-contleft .benefit-row{
    margin-bottom: 20px;
    align-items: center;
}
.featured-contleft .benefit-row .benefit-icon{
    padding-right: 20px;
}
.featured-contleft .benefit-row .benefit-list{
    font-size: 22px;
    color: #000;
}
.featured-contleft .btnsec{
    padding-top: 20px;
}
.featured-contleft .btnsec .border-btn{
    color: #000;
    border-color: #000;
}
.featured-content{
    margin-top: 140px;
    width: 100%;
}
.featured-content ul{
    list-style: none;
}
.featured-content ul li{
    background-image: url('/files/sites/site_206/site_206_first-home-page/list-blue.png');
    background-repeat: no-repeat;
    background-position: left top 3px;
    background-size: 26px 26px;
    padding-left: 40px;
    margin-bottom: 20px;
}
.featured-content ul li h4{
    font-size: 25px;
    font-weight: 600;
}
.featured-content ul li p{
    font-size: 20px;
}
.div-member:hover .div-img-cover-sec5{
display:block;
}
.div-member .div-img-cover-sec5{
display:none;
}


.about-bios-pata .section-title {
    margin-bottom: 80px
}

.about-bios-pata .container {
    max-width: 1350px
}

.about-bios-pata .single-bio {
position:relative;
    display: flex
}


.about-bios-pata .single-bio:nth-child(1) .photo {
    background-position: center
}

.about-bios-pata .single-bio:nth-child(2) .photo {
    background-position: bottom right
}

.about-bios-pata .single-bio .photo {
    width: 50%;
    background-size: cover
}

.about-bios-pata .single-bio .content {
    width: 100%;
    margin-top: 48px;
    margin-bottom: 24px
}

.about-bios-pata .single-bio .content:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
z-index:-1;
    top: -20px;
    background: linear-gradient(45deg, #11b85d, #3cab43, #6dc972, #7ce58d, #2fab4f);
}

.about-bios-pata .single-bio .content .wrap {
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 50px;
    background-color: white;
    padding: 80px
}

.about-bios-pata .single-bio .content .name {
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    color: #54a15d;
    font-family: 'Nanum Myeongjo',serif;
    font-weight: 700
}

.about-bios-pata .single-bio .content .title {
    font-weight: 600;
    color: #aaa;
    margin-top: 8px;
    font-size: 16px
}

@media (min-width: 992px) {
.hr-gas {
width:25%;
margin: 0 0 0 auto;
}
    .about-bios-pata .single-bio:nth-child(odd) .photo {

        order: 1;
        right: -24px;
    }

    .about-bios-pata .single-bio:nth-child(odd) .content {
        -ms-flex-order: 2;
        order: 2;
    }

    .about-bios-pata .single-bio:nth-child(odd) .content:before {
    top: 2%;

    }

    .about-bios-pata .single-bio:nth-child(even) .photo {
        -ms-flex-order: 2;
        order: 2;
        left: -24px;
    }

    .about-bios-pata .single-bio:nth-child(even) .content {
        -ms-flex-order: 1;
        order: 1;
        margin-right:-54px;
    }

    .about-bios-pata .single-bio:nth-child(even) .content:before {
        left: -20px;
    width: 50%;
    height: 88%;
    top: 4%;
    }
}

@media (max-width: 991.98px) {
.hr-gas {
width:25%;
margin: 0;
}
    .about-bios-pata {
        margin:50px 0
    }


    .about-bios-pata .single-bio {
        display: block
    }

    .about-bios-pata .single-bio:not(:last-child) {
        margin-bottom: 32px
    }

    .about-bios-pata .single-bio .photo {
        width: 100%;
        position: relative;
height:300px;
margin-bottom:20px;
    }

    .about-bios-pata .single-bio .photo:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%
    }

.about-bios-pata .single-bio .content:before {
top: 0 !important;
}

    .about-bios-pata .single-bio .content {
        width: 100%;
        margin-top: 0px;
    }

    .about-bios-pata .single-bio .content .wrap {
        padding: 32px
    }
}
.about-bios .section-title {
    margin-bottom: 80px
}

.about-bios .container {
    max-width: 1350px
}

.about-bios .single-bio {
position:relative;
    display: flex
}

.about-bios .single-bio:not(:last-child) {
 margin-bottom: 150px
}
.about-bios .single-bio:nth-child(1) .photo {
    background-position: center
}

.about-bios .single-bio:nth-child(2) .photo {
    background-position: bottom right
}

.about-bios .single-bio .photo {
    width: 50%;
    background-size: cover
}

.about-bios .single-bio .content {
    z-index: 5;
width: 50%;
  margin-top: 48px;
margin-bottom: 24px
}

.about-bios .single-bio .content:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
z-index:-1;
    top: -20px;
    background: linear-gradient(45deg, #11b85d, #3cab43, #6dc972, #7ce58d, #2fab4f);
}

.about-bios .single-bio .content .wrap {
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 50px;
    background-color: white;
    padding: 80px
}

.about-bios .single-bio .content .name {
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    color: #54a15d;
    font-family: 'Nanum Myeongjo',serif;
    font-weight: 700
}

.about-bios .single-bio .content .title {
    font-weight: 600;
    color: #aaa;
    margin-top: 8px;
    font-size: 16px
}

@media (min-width: 992px) {
.hr-gas {
width:25%;
margin: 0 0 0 auto;
}
    .about-bios .single-bio:nth-child(odd) .photo {

        order: 1;
        right: -24px;
    }

    .about-bios .single-bio:nth-child(odd) .content {
        -ms-flex-order: 2;
        order: 2;
 margin-left: -54px;
    }

    .about-bios .single-bio:nth-child(odd) .content:before {
    right: 30px;     width: 50%;     height: 88%;     top: 4%;

    }

    .about-bios .single-bio:nth-child(even) .photo {
        -ms-flex-order: 2;
        order: 2;
        left: -24px;
    }

    .about-bios .single-bio:nth-child(even) .content {
        -ms-flex-order: 1;
        order: 1;
        margin-right:-54px;
    }

    .about-bios .single-bio:nth-child(even) .content:before {
        left: -20px;
    width: 50%;
    height: 88%;
    top: 4%;
    }
}

@media (max-width: 991.98px) {
.hr-gas {
width:25%;
margin: 0;
}
    .about-bios {
        margin:50px 0
    }


    .about-bios .single-bio {
        display: block
    }

    .about-bios .single-bio:not(:last-child) {
        margin-bottom: 32px
    }

    .about-bios .single-bio .photo {
        width: 100%;
        position: relative;
margin-bottom:20px;
    }

    .about-bios .single-bio .photo:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%
    }

.about-bios .single-bio .content:before {
top: 0 !important;
}

    .about-bios .single-bio .content {
        width: 100%;
        margin-top: 0px;
    }

    .about-bios .single-bio .content .wrap {
        padding: 32px
    }
}
@media only screen and (min-width: 300px) and (max-width: 767.9px){
.featured-content {
    margin-top: 60px;
}
}
@media (min-width: 767.98px){
.h-25rem{
height:25rem;
}
}
@media (max-width: 767.98px){
.h-25rem{
display:none;
}
.h-620px {
        width:100%;
    }
}
@media (min-width: 1199.98px){
.h-620px {
height:620px;
}
}
@media (min-width: 991.98px) and (max-width: 1199.98px){
.h-620px {
height:700px;
}
}
.h-400px {
height:400px;
}
</style>
<style type="text/css">.carousel ol.carousel-indicators.circle-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #54a15d;
}.carousel ol.carousel-indicators.circle-indicators{
    position: relative;
}
.name2 {margin: 0;
    font-size: 36px;
    font-weight: 600;
    color: #54a15d;
    font-family: 'Nanum Myeongjo',serif;
    font-weight: 700;
}
.product-price,.price-strike{
display:none;
}
.box-text{
    position: absolute;
    bottom: 25%;
    right: 0;
}
@media (max-width: 1399.98px){
.box-text{
display:none;
}
.box-hide{
display:block;
}
.img-mr{
margin-right: unset !important;
}
}
@media (min-width: 1399.98px){
.box-text{
display:block;
}
.img-mr{
margin-right: 2.5rem !important;
}
.box-hide{
display:none;
}
.img-dehi:hover .box-in-img {
top: 50%;
    transform: translateY(-50%) translateX(20%);
    left: 20px;
    right: 20px;
    color: beige;
    text-align: center;
    border-radius: 1rem;
    background: #1f1f1fd1;
    width: 70%;
    position: absolute;
display:block !important;
transition: .4s;
}
}
</style>
